.App {
  text-align: center;
}
.weathercomp {
  margin-top: 100px;
  font-size: 30px;
}

.herosection {
  width: 100%;
  height: 700px;
  background-color: rgb(255, 255, 255);
}
.herocontinor {
  display: flex;
}
.wetgerimage {
  width: 800px;
}
.about {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  font-size: x-large;
  color: black;
  border-radius: 5px;
}
.awheterapi {
  text-decoration: none;
  color: black;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 20px;
}

.navbarlinkStyle {
  text-decoration: none;
  color: cornflowerblue;
  padding: 5px;
}

#showWeather {
  width: 100%;
  display: flex;
  height: 780px;
}
.city {
  width: 600px;
  margin-top: 200px;
  margin-left: 100px;
  color: black;
  font-size: 20px;
}
.showinformation {
  width: 400px;
  height: 600px;
  margin-left: 150px;
}
h4 {
  padding: 20px;
}
.h2Content {
  margin-top: 200px;
}
.ImageFApi {
  margin-top: 50px;
}

/* this is for responsvilaty  */
@media only screen and (max-width: 600px) {
  .herocontinor {
    display: inline;
  }
  .about {
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 0px;
    height: 200px;
    text-align: center;
    margin-left: 10px;
  }
  .wetgerimage {
    width: 400px;
    padding: 0px;
  }

  /* api page  */
  #showWeather {
    width: 90%;
    display: inline;
    height: 100px;
  }
  .city {
    width: 400px;
    margin-top: 50px;
    margin-left: 20px;
    color: black;
    font-size: 20px;
  }
  .showinformation {
    width: 200px;

    margin-left: 100px;
  }
  h4 {
    padding: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .herocontinor {
    display: inline;
  }
  .about {
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 0px;
    height: 200px;
    text-align: center;
    margin-left: 10px;
  }
  .wetgerimage {
    width: 500px;
    padding: 0px;
  }
  /* api page  */
  #showWeather {
    width: 100%;
    display: inline;
    height: 100px;
  }
  .city {
    width: 600px;
    margin-top: 50px;
    margin-left: 50px;
    color: black;
    font-size: 20px;
  }
  .showinformation {
    width: 250px;

    margin-left: 220px;
  }
  h4 {
    padding: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .herocontinor {
    display: inline;
  }
  .about {
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 0px;
    height: 200px;
    text-align: center;
    margin-left: 10px;
  }
  .wetgerimage {
    width: 700px;
    padding: 0px;
  }
  /* api page  */
  #showWeather {
    width: 100%;
    display: inline;
    height: 100px;
  }
  .city {
    width: 700px;
    margin-top: 50px;
    margin-left: 15%;
    color: black;
    font-size: 20px;
  }
  .showinformation {
    width: 200px;

    /* height: 300px; */

    margin-left: 37%;
  }
  h4 {
    padding: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .wetgerimage {
    width: 700px;
    padding: 0px;
  }
}
